.card {
    border-radius: var(--card-border-radius);
    padding: 16px;
}

.card_pink {
    background-color: var(--pink-primary-color);
}

.card_orange {
    background-color: var(--orange-primary-color);
}

.card_yellow {
    background-color: var(--yellow-primary-color);
}

.card_green {
    background-color: var(--green-primary-color);
}

.card_blue {
    background-color: var(--blue-primary-color);
}

.card_violet {
    background-color: var(--violet-primary-color);
}

.card_white {
    background-color: var(--white-color);
}
