.counter {
    position: relative;
    border-radius: var(--button-border-radius);
    background: var(--orange-primary-color);
}

.counter__button-add {
    padding: 0;
    position: relative;
    min-height: 40px;
    height: 40px;
    width: 100%;
    z-index: 10;
    opacity: 1;
    transform: scaleX(1);
    transition: opacity 200ms, transform 200ms;
}

.counter__button-add_hide {
    opacity: 0;
    transform: scaleX(-0);
}

.counter__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.counter__button {
    position: relative;
    min-height: 40px;
    height: 40px;
    width: 100%;
    transition: width 200ms;
}

.counter__button:active {
    animation-name: counter-button-animation;
    animation-fill-mode: forwards;
    animation-duration: 160ms;
}

.counter_visible .counter__button {
    width: 40px;
}

.counter__value {
    font-weight: 900;
    color: var(--white-color);
}

.counter_small .counter__button-add {
    min-height: 30px;
    height: 30px;
}

.counter_small .counter__button {
    min-height: 30px;
    height: 30px;
    width: 30px;
}

.counter_small .counter__value {
    margin-bottom: -1px;
}

@keyframes counter-button-animation {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
