:root {
    /* border radii */
    --card-border-radius: 25px;
    --button-border-radius: 12px;
    --button-border-radius-extra: 18px;
    --icon-button-border-radius: 5px;

    --circle-border-radius: 50%;

    /*-------COMPONENTS-----------*/

    /* Header */
    --header-height: 64px;
}
