:root {
    /* border radii */
    --card-border-radius: 25px;
    --button-border-radius: 12px;
    --dropdown-border-radius: 4px;
    --button-border-radius-extra: 18px;
    --icon-button-border-radius: 5px;
    --circle-border-radius: 50%;
    --input-border-radius: 10px;

    /* Viewport sizes*/
    --max-viewport-width: 480px;

    /* Component sizes */
    --header-height: 54px;
    --drawer-width: 200px;
}
