:root {
    --spacing-1: 2px;
    --spacing-2: 4px;
    --spacing-3: 6px;
    --spacing-4: 8px;
    --spacing-5: 10px;
    --spacing-6: 12px;
    --spacing-7: 14px;
    --spacing-8: 16px;
    --spacing-9: 18px;
    --spacing-10: 20px;
}
