:root {
    --font-size-base: 1rem;
    --font-size-1: calc(var(--font-size-base) * 1.2); /* 12px */
    --font-size-2: calc(var(--font-size-base) * 1.4); /* 14px */
    --font-size-3: calc(var(--font-size-base) * 1.6); /* 16px */
    --font-size-4: calc(var(--font-size-base) * 1.8); /* 18px */
    --font-size-5: calc(var(--font-size-base) * 2.0); /* 20px */
    --font-size-6: calc(var(--font-size-base) * 2.2); /* 22px */
    --font-size-7: calc(var(--font-size-base) * 2.4); /* 24px */
    --font-size-8: calc(var(--font-size-base) * 2.6); /* 26px */
    --font-size-9: calc(var(--font-size-base) * 2.8); /* 28px */
    --font-size-10: calc(var(--font-size-base) * 3.2); /* 32px */
    --font-size-11: calc(var(--font-size-base) * 3.8); /* 38px */
    --font-size-12: calc(var(--font-size-base) * 4.2); /* 42px */
    --font-size-13: calc(var(--font-size-base) * 4.8); /* 48px */
    --font-size-14: calc(var(--font-size-base) * 5.6); /* 56px */
}
