:root {
    --cart-button-z-index: 10;
    --dropdown-z-index: 290;
    --header-z-index: 300;
    --filters-z-index: 310;
    --overlay-z-index: 320;
    --drawer-z-index: 350;
    --burger-button-z-index: 400;
    --logo-z-index: 400;
    --modal-z-index: 900;
}
