.product-categories-scroll {
    padding-left: var(--wrapper-padding);
}

.product-categories-scroll-list {
    display: flex;
    flex-wrap: nowrap;
    column-gap: var(--spacing-7);
    overflow-x: auto;
    padding-right: var(--wrapper-padding);
}

.product-categories-scroll-list__item {
    min-width: 58px;
}
