.dropdown-menu {
    position: absolute;
    top: calc(100% + var(--spacing-4));
    min-width: 100%;
    border-radius: var(--dropdown-border-radius);
    background: var(--white-color);
    box-shadow: 4px 2px 8px 0 var(--gray-color-transparent-extra);
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
    transform-origin: top left;
    transition: transform 150ms, opacity 150ms;
}

.dropdown-menu_open {
    transform: scale(1); 
    opacity: 1;
}
