.product-filters-modal__title {
    text-align: center;
}

.product-filters-modal__form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-filters-modal__form-content {
    overflow-y: auto;
}

.product-filters-modal__submit-button {
    width: 100%;
}

.product-filters-modal__category-text {
    margin-top: var(--spacing-9);
    margin-bottom: var(--spacing-6);
}

.product-filters-modal__checkbox {
    margin-bottom: var(--spacing-5);
}

.product-filters-modal__price-input .product-filters-modal__number-input {
    width: 100%;
    border-color: var(--gray-color-transparent);
    border-width: 1px;
}

.product-filters-modal__price-input {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
}

.product-filters-modal__button-controls {
    display: flex;
    padding-top: var(--spacing-4);
}

.product-filters-modal__clear-button {
    margin-right: var(--spacing-5);
    margin-left: calc(-1 * var(--spacing-5));
    padding: 0;
    width: 0;
    transition: width 190ms, opacity 190ms, margin-left 190ms;
    opacity: 0;
}

.product-filters-modal__clear-button_open {
    width: 120px;
    opacity: 1;
    margin-left: 0;
}
