.input {
    outline: none;
    border: 2px solid var(--violet-primary-color-transparent);
    box-shadow: none;
    border-radius: var(--input-border-radius);
    padding: var(--spacing-4) var(--spacing-6);
    transition: border-color 100ms;
    min-height: 42px;
}

.theme-dark .input {
    background: var(--black-dark-contrast-color);
    color: var(--white-color)
}

.input:focus {
    border-color: var(--violet-primary-color-contrast);
}

.input:disabled {
    border-color: var(--gray-color-transparent-extra);
    background-color: var(--color-disabled);
    cursor: not-allowed;
}

.input::placeholder {
    color: var(--gray-color-transparent);
}
