.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: var(--spacing-16);
    z-index: var(--modal-z-index);
    transition: transform 250ms, opacity 250ms, visibility 250ms;
    background: var(--white-color);
}

.theme-dark .modal {
    background: var(--black-dark-color);
}

.modal_open {
    animation: modal-open-animation;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.modal_close {
    animation: modal-close-animation;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.modal_padding-top {
    padding-top: 10vh;
}

.modal__close-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    padding: var(--spacing-5);
    cursor: pointer;
}

.modal__close-icon svg {
    width: 20px;
}

.theme-dark .modal__close-icon path {
    fill: white;
}

.modal__content {
    overflow-y: auto;
    height: 100%;
}

@keyframes modal-close-animation {
    to {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes modal-open-animation {
    from {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
}
